

.ItemFooter{
    text-decoration: none;
    padding: 10px 25px;
    font-weight: bold;    
    color: black;
    background-color: grey;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.ItemFooter:hover {
    cursor: pointer;
    color: white;
    background-color: orange;
  }

  .Option{
    text-decoration: none;
    color: black;
    font-weight: bold;
 
  }