.ListGroup{
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}